.nav {
    display: flex;
    background-color: #91b197;
    color: #3f5342;
    height: 85px;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style: none;
    display: flex;
    margin-right: 2rem;
}

.links li {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.links a {
    color: #3f5342;
}